
div.span8
    ul#parts-list
        li
            h2 Links
            ul#links
                |\n<%
                |    _.each(linkAlphas, function(alpha, index) {
                |        var l = model.getLinkAt(index);
                |%>
                |       <li id="<%=alpha%>Link">

                |   <input rel="link" placeholder="URL <%=alpha %>" value="<%= l != null ? l.link : '' %>">
                |   <input rel="desc" placeholder="Description for Link <%=alpha %>" >

                |\n     </li>
                |<%
                |   });
                |%>

                |\n<% if (canAddMore) { %>

                p#addLinks(style="text-align: center;")
                    a.btn.btn-primary#addMoreLinks
                        i.icon-plus.icon-white

                        |<%= addLinksCaption %>

                |\n<% } %>

        li
            h2 Note
                textarea#note(style="width: 98%;", rows="10", cols="80")!= "<%= model.get(\"note\") %>"
                p#letters-left(style="text-align: right") 640000 chars left

        li
            p#persistBtn
                a.btn.btn-primary persist


div.span4
    div#summary
        ul
            li
                p Bytes in links:
                |340 233

            li
                p Bytes in notes:
                |340 233

            li
                p Total bytes:
                |680 000