/* Fix chrome non-standard behaviour of placeholder values on focus */
input:focus::-webkit-input-placeholder {
  color: transparent;
}
.header-bar {
  position: fixed;
  display: block;
  z-index: 1200;
  background-color: #fff;
  width: 100%;
  padding-top: 5px;
}
.header-bottom-shadow {
  width: 100%;
  position: fixed;
  display: block;
  z-index: 1100;
  left: 0;
  height: 45px;
  box-shadow: 0px 0px 25px #000;
}
.main-content {
  position: relative;
  top: 70px;
}
.inline-el {
  display: inline;
}
.big-font {
  font-size: 16pt;
}
.action-link:hover {
  text-decoration: none;
}
.centered {
  text-align: center;
}
.hseparator-10 {
  display: inline-block;
  width: 10px;
}
#links {
  font-size: 12pt;
  list-style: lower-alpha;
  color: #aaa;
}
#links li a {
  font-size: 14pt;
}
@media (min-width: 480px) {
  #links li input {
    width: 97%;
  }
}
@media (max-width: 480px) {
  #links li input {
    width: 360px;
  }
}
#note {
  font-size: 14pt;
  font-family: sans-serif;
}
#selfLink {
  padding: 3px;
}
.btn-small {
  margin-bottom: 9px;
  padding: 4px 6px 4px 6px;
}
#qrCodeCanvas {
  margin-top: 20px;
}
