<div class="span7">
    <h3>Links</h3>

    <ul id="links">
    </ul>

    <p id="addLinks" class="centered">
        <a id="addMoreLinks" class="btn btn-primary">
            <i class="icon-plus icon-white"></i>
        </a>
    </p>


    <h3>Note</h3>
    <textarea id="note" style="width: 98%;" rows="10" cols="80"></textarea>

    <p id="letters-left" style="text-align: right">640000 chars left</p>

    <div class="centered" id="captcha"></div>

    <p id="errorMsg"></p>

    <p id="persistBtn" class="centered">
        <a class="btn btn-primary">
            persist
        </a>
    </p>
</div>
