<div class="span8">
    <ul id="parts-list">
        <li>
            <h2>Links
            </h2>
            <ul id="links" class="read-only">


                <li>  <a href="http://google.com">good search engine</a>

                </li>


            </ul>
        </li>
        <li>
            <h2>Note
            </h2>
            <ul class="read-only">
            </ul>
        <li>
            <p id="note" class="read-only-note">
            </p>
        </li>
        </li>
    </ul>
</div>
<div class="span4">
    <label>Link to this
    </label>
    <input id="linkToThis" value="http://localhost:4000/"/>
    <p><a class="btn btn-small">I want shorter link</a>
    </p>
    <p><a class="btn btb-small">I want QR code</a>
    </p>
</div>