
!!! 5
html
    head
        title Instant Remark
        link(rel="stylesheet",href="css/bootstrap.css")
        link(rel="stylesheet",href="css/app.css")
        script(data-main="js/main", type="text/javascript", src="/js/require.js")
    body
        div(class="container")
            div(class="span12")
                h1#logoTitle
                    a(href="/") Instant Remark
            div(class="row")#_main
                div.span12#newBtnWrapper
                    a.btn.btn-large#newBtn(href="#remark/new",style="width: 80px") new
