
div.span8
    h2 Links
    ul.read-only#links
        |\n<%
        |   console.log(links);
        |   _.each(links, function(link, index) {
        |       link.desc = link.desc.length > 0 ? link.desc : "Link #" + index;
        | %>
        li
            |   <a href="<%=link.link%>"> <%=link.desc %> </a>
        |\n <% }); %>
    br
    h2 Note
        p.read-only-note#note
            | <%= note %>

div.span4
    label   Link to this
    | <input id="selfLink" value="<%= selfLink %>" />
    p#shortLink
        a.btn.btn-small#shortLinkBtn I want shorter link
    p#qrCode
        div#qrCodeCanvas
        a.btn.btb-small#qrCodeBtn I want QR code

