/* Fix chrome non-standard behaviour of placeholder values on focus */
input:focus::-webkit-input-placeholder { color: transparent; }

body
    background-image: url('/img/bg03.png')

input
    border: none
    font: 20px 'Curier'
    padding: 5px
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;


#_main
    background-image: url('/img/bg02.png')
    margin-top: 40px
    padding: 30px 30px 10px 30px

#logo
    text-shadow: 0px 1px 4px #872353;
    *
        color: #110055
        display: inline
        font-weight: 900
    small
        font: 20px 'Curier'
        font-weight: 500


#header-bar
    position: fixed
    display: block
    z-index: 1200
    width: 100%
    background-image: url('/img/bg01.png')
    padding: 5px 0 5px 0
    box-shadow: 0px 2px 5px #000

.header-bar-btn
    height: 100px
    padding: 100px 10px 10px 10px;
    background-color: black
    box-shadow: 0px -2px 3px #872353

    *
        white-space: nowrap
    &:hover
        background-color: gray
        & a
            color: #fff
    a
        color: #fff
        font: 20px 'Curier'
        text-decoration: none
        font-style: italic



.header-bottom-shadow
    width: 100%
    position: fixed
    display: block
    z-index: 1100
    left: 0
    height: 50px
    box-shadow: 0px 0px 25px #000


.main-content
    position: relative
    top: 70px

.inline-el
    display: inline;

.big-font
    font-size: 16px

.small-button
    display: inline-block
    height: 15px



.action-link
    &:hover
        text-decoration: none

.centered
    text-align: center

.hseparator-10
    display: inline-block
    width: 10px


#links
    font-size: 12pt
    list-style: none
    color: #aaa
    li
        color: #000
        font: 'Curier'
        margin-bottom: 10px
        a
            font-size: 20px
            color: #ddd
            &:hover
                color: #fff
                font-size: 24px
        input
            width: 100%
            margin-bottom: 5px





.note
    font: 18px 'Curier'

    margin-bottom: 10px

textarea.note
    width: 100%
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

p.note
    padding: 10px
    background-image: url('/img/bg03.png')



#letters-left
    font: 14px 'Ariel'
    padding: 0


#selfLink
    padding: 3px
    height: 27px
    margin: 0

.btn-small
    margin-bottom: 9px
    padding: 4px 6px 4px 6px

#qrCodeCanvas
    margin-top: 20px
